<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
  
 

  .table{
  	width: 800px;
  	margin-left: 50px;
  	margin-top: 50px;
  }

  h2{
  	margin: 50px;
  }

  p {
        margin: 50px;
  }
 



  


</style>
</head>
<body>
<h2> User Dashboard</h2>
<p><em>Keep track of all your important people</em></p>
   <table class = "table table-bordered	">
     <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th><a id="add" href = "/users/new">Add User</a></th>
    </thead>
 
  <% @users.each do |user| %>
   <tbody>
	    <td><%= user.first_name %></td> 
	    <td><%= user.last_name %></td> 
	    <td><%= user.email %></td>
	    <td><a href = "/users/<%= user.id %>">display/edit</a></td>
 <% end %>
    </tbody>

    </table>


</body>
</html>
